# <strong>Pandas:</strong> Change DataFrame Background

**Name:** Arsalan Ali<br>
**Email:** arslanchaos@gmail.com

In [26]:
import pandas as pd

df = pd.DataFrame({"x": [1,2,3],"y": [5,-2,3]})

df.style.background_gradient("PuBu")

In [21]:
df.style.background_gradient(cmap="Paired")

In [25]:
df.style.background_gradient(cmap="YlGn")

In [27]:
df.style.background_gradient(cmap="Set1")