# Frequency encoding

## It is a way to utilize the frequency of the categories as labels. In the cases where the frequency is related somewhat with the target variable, it helps the model to understand and assign the weight in direct and inverse proportion, depending on the nature of the data.

In [2]:
import pandas as pd
import numpy as np

In [170]:
c1 = "A," * 60
c1 = c1.split(",")

c2 = "B," * 53
c2 = c2.split(",")

c3 = "C," * 46
c3 = c3.split(",")

c4 = "D," * 49
c4 = c4.split(",")

x = c1+c2+c3+c4
x.pop()

''

In [171]:
np.random.shuffle(x)
np.random.seed(2)

In [210]:
data = pd.DataFrame(x,columns=["City"])
data

    City
0      C
1      C
2      A
3      B
4      C
..   ...
206    A
207    A
208    B
209    A
210    D

[211 rows x 1 columns]

In [211]:
data.City.size

211

In [212]:
f = (data.groupby("City").size()) / len(data)
f

City
     0.014218
A    0.284360
B    0.251185
C    0.218009
D    0.232227
dtype: float64

In [213]:
cp = data.copy()

In [214]:
cp["frequency"] = cp.City.apply(lambda i:f[i])

In [216]:
cp

    City  frequency
0      C   0.218009
1      C   0.218009
2      A   0.284360
3      B   0.251185
4      C   0.218009
..   ...        ...
206    A   0.284360
207    A   0.284360
208    B   0.251185
209    A   0.284360
210    D   0.232227

[211 rows x 2 columns]